{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="form-container">
        <h2 class="mb-4">Вход</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="id_username" class="form-label">Имя пользователя</label>
                            <input type="text" name="username" id="id_username" class="form-control">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="id_password" class="form-label">Пароль</label>
                            <input type="password" name="password" id="id_password" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            {% if form.non_field_errors %}
            <div class="alert alert-danger mt-3">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger mt-3">
                {{ error }}
            </div>
            {% endfor %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
    </div>
</div>
{% endblock %}